$color-primary: #2f1a2f;
$color-secondary: #1c0a22;
$color-header: #130e24;
$color-header-category: #0d0922;
$color-success: #26c955;
$color-button:#4247d1;


$color-text: white;
$color-text-dim: #706e7c;
$color-text-header: #565464;

$border: 1px solid rgba(white, 0.3);

$font-primary: 'Montserrat', sans-serif;
